<!-- Footer -->
<footer class="sticky-footer bg-white">
  <div class="container my-auto">
    <div class="copyright text-center my-auto">
      <span>
        Copyright &copy; Rafki Desramadhan
        <span id="dateCreate"></span>
      </span>
    </div>
  </div>
</footer>
<!-- End of Footer -->

<script>
  const dateCreate = document.querySelector("#dateCreate");
  const date = new Date();
  dateCreate.innerHTML = date.getFullYear();
</script>
